.menu {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 15px;
}
.name {
  font-family: "Indie Flower", cursive;
  text-align: center;
  background: #fefedf;
  margin: 40px;
}
