body {
  font-family: "Indie Flower", cursive;
  margin: 40px;
}
.menu {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 15px;
}
.name {
  text-align: center;
  background: #fefedf;
  margin: 60px;
}
li {
  list-style: none;
  line-height: 40px;
}
.tips {
  text-align: center;
}
